<aside class="sidebar">
  <div class="brand">Mi App</div>

  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>

    <a routerLink="/cliente" routerLinkActive="active">Clientes</a>
    <a routerLink="/contrato" routerLinkActive="active">Contratos</a>
    <a routerLink="/empleado" routerLinkActive="active">Empleados</a>
    <a routerLink="/pago" routerLinkActive="active">Pagos</a>
    <a routerLink="/tipoVehiculo" routerLinkActive="active">Tipo de vehiculos</a>
    <a routerLink="/usuario" routerLinkActive="active">Usuarios</a>
    <a routerLink="/vehiculo" routerLinkActive="active">Vehiculos</a>
    <button class="logout" (click)="logout()">Cerrar sesión</button>
  </nav>
</aside>
